.toggler {
    margin: 50px auto 0 auto ;
    width: 100%;
    max-width: 320px;
    @extend %flex;
    justify-content: space-between;

    &__option {
        @extend %font-16-b;

        &--green {
            color: $green-dark;
        }
    }

    &__label {
        position: relative;
        display: block;
        width: 100px;
        height: 30px;
        background-color: $green-dark;
        border-radius: 15px;
        cursor: pointer;        
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked + .toggler__button {
            left: 73px;
        }
    }

    &__button {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 24px;
        height: 24px;
        background-color: $white;
        border-radius: 100%;
        transition: left .3s;
    }

    @include breakpoint($l) {
        margin: unset;
        margin-bottom: 5px;
        grid-area: toggle;
        align-self: end;
    }

    @include breakpoint($xl) {
        &__option {
            font-size: 1.25rem;
        }
    }
}