//colors
$green-dark: #92b9af;
$green-light: #e5eeec;
$gray-hover: #878787;
$input-focus: #9690CA;
$black: #000000;
$white: #ffffff;
$error-red: rgb(240, 73, 73);

//fonts
$font-family: 'Montserrat', sans-serif;
$bold: 700;
$medium: 500;
$regular: 400;

//breakpoints
$s: 375px;
$m: 768px;
$l: 992px;
$xl: 1200px;

//layout
$cws: 880px;
$cwm: 920px; 
$cwl: 1440px;
$cwxl: 1800px;

//padding to header and footer
$mobile-padding: 60px 0;
$desktop-padding: 90px 0;