<footer class="footer">
    <div class="footer__content">
        <div class="footer__container">
            <img class="footer__logo" src="../img/icons/logo.svg" width="150" height="117" loading="lazy" alt="Logo von Home and House">
        </div>
        <div class="footer__container">
            <h2 class="footer__title">Home & House</h2>
            <address class="footer__address">
                Fabrikstrasse 24<br>
                9472 Grabs<br>
                Schweiz<br>
                <span class="footer__tel">081 740 00 00</span>
                <a class="footer__link" href="mailto:info@homehouse.ch">info@homehouse.ch</a>
            </address>        
        </div>
        <div class="footer__container">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__link" href="index.html">Immobilien</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link" href="aktuelles.html">Aktuelles</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link" href="kontakt.html">Kontakt</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link" href="#">Impressum</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link" href="#">Datenschutz</a>
                </li>
            </ul>
        </div>
        <a href="#top" aria-label="Zurück an den Anfang der Seite">
            <svg class="footer__totop" width="50" height="50" viewBox="0 0 50 50" fill="none">
                <rect width="50" height="50" fill="#92B9AF"/>
                <path d="M34 28L24.5 18L15 28" stroke="white" stroke-width="2"/>
            </svg> 
        </a>   
    </div>    
</footer>
