<div class="trigger"></div><!--for Intersection observer - when trigger leaves window add class to logo-->
<header class="header">
    <div class="header__content">
        <a class="header__logo-link" href="index.html">
            <img class="header__logo" src="../img/icons/logo.svg" width="100" height="78" alt="Logo von Home and House">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"><a class="nav__link nav__link--l" href="index.html">Immobilien</a></li>
                <li class="nav__list-item"><a class="nav__link nav__link--l" href="aktuelles.html">Aktuelles</a></li>
                <li class="nav__list-item"><a class="nav__link nav__link--l" href="kontakt.html">Kontakt</a></li>
                <li class="nav__list-item nav__list-item--additional"><a class="nav__link" href="#">Impressum</a></li>
                <li class="nav__list-item nav__list-item--additional"><a class="nav__link" href="#">Datenschutz</a></li>
            </ul>
        </nav>
        <button class="header__button" aria-label="Mobiles Navigationsmenu öffnen und schliessen">
            <span class="header__hamburger"></span>             
        </button>
    </div>    
</header>
