<div class="choose-layout">
    <p class="choose-layout__text">Ansicht:</p>
    <button id="grid" class="choose-layout__button choose-layout__button--active" aria-label="Rasteransicht mit Bilder">
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none">
            <rect width="7.5" height="7.5" fill="#92B9AF"/>
            <rect y="11.5" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect y="23" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="11.5" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="11.5" y="11.5" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="11.5" y="23" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="23" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="23" y="11.5" width="7.5" height="7.5" fill="#92B9AF"/>
            <rect x="23" y="23" width="7.5" height="7.5" fill="#92B9AF"/>
        </svg>
    </button>
    <button id="list" class="choose-layout__button" aria-label="Listenansicht ohne Bilder">
        <svg width="34" height="30" viewBox="0 0 34 30" fill="none">
            <rect x="9" y="7" width="25" height="2" fill="#92B9AF"/>
            <rect x="9" y="14" width="25" height="2" fill="#92B9AF"/>
            <rect x="9" y="21" width="25" height="2" fill="#92B9AF"/>
            <rect x="9" y="28" width="25" height="2" fill="#92B9AF"/>
            <rect x="9" width="25" height="2" fill="#92B9AF"/>
            <rect y="7" width="7" height="2" fill="#92B9AF"/>
            <rect y="14" width="7" height="2" fill="#92B9AF"/>
            <rect y="21" width="7" height="2" fill="#92B9AF"/>
            <rect y="28" width="7" height="2" fill="#92B9AF"/>
            <rect width="7" height="2" fill="#92B9AF"/>
        </svg>
    </button>
</div>