<section class="hero">
    <div class="hero__img-container">
        <img class="hero__img hero__img--hide" 
            src="https://stefanturner.ch/dipl-imgs/hero1.jpg"
            srcset="https://ik.imagekit.io/4gik3riqcq8/tr:w-375/hero1.jpg 375w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-800/hero1.jpg 800w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1400/hero1.jpg 1400w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1800/hero1.jpg 1800w"
            sizes="100vw"
            alt="Villa"
            width="375"
            height="250"   
        >
        <img class="hero__img hero__img--hide" 
            src="https://stefanturner.ch/dipl-imgs/hero2.jpg"
            srcset="https://ik.imagekit.io/4gik3riqcq8/tr:w-375/hero2.jpg 375w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-750/hero2.jpg 800w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1400/hero2.jpg 1400w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1800/hero2.jpg 1800w"
            sizes="100vw"
            alt="villa"
            width="375"
            height="250"
        >   
        <img class="hero__img hero__img--hide" 
            src="https://stefanturner.ch/dipl-imgs/hero3.jpg"
            srcset="https://ik.imagekit.io/4gik3riqcq8/tr:w-375/hero3.jpg 375w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-800/hero3.jpg 800w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1400/hero3.jpg 1400w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1800/hero3.jpg 1800w"
            sizes="100vw"
            alt="Villa"
            width="375"
            height="250"
        >        
        <img class="hero__img" 
            src="https://stefanturner.ch/dipl-imgs/hero4.jpg"
            srcset="https://ik.imagekit.io/4gik3riqcq8/tr:w-375/hero4.jpg 375w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-800/hero4.jpg 800w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1400/hero4.jpg 1400w,
                    https://ik.imagekit.io/4gik3riqcq8/tr:w-1800/hero4.jpg 1800w"
            sizes="100vw"
            alt="villa"
            width="375"
            height="250"
        >
    </div>
    <h1 class="hero__headline">Die optimale Balance zwischen<br> Ästhetik und Funktionalität</h1>
</section>