<div id="order-list" class="order-list--hide"><!--change to order-list in list view-->
    <div data-orderitem="title" data-order="asc" class="order-list__item">
        <p class="order-list__text">Objekt</p>
        <svg class="order-list__arrow" width="13" height="21" viewBox="0 0 13 21" fill="none">
            <g clip-path="url(#clip0)">
                <path d="M13 6.66258L7.89746 1.45261L7.91986 1.42974L6.5252 0L6.5028 0.0228758L6.4748 0L5.08014 1.42974L5.10254 1.45261L0 6.66258L1.40026 8.0866L5.51142 3.88889L5.51142 21H7.48858L7.48858 3.88889L11.5997 8.0866L13 6.66258Z" fill="#92B9AF"/>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="13" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div data-orderitem="zip" data-order="asc" class="order-list__item">
        <p class="order-list__text">Ort</p>
        <svg class="order-list__arrow" width="13" height="21" viewBox="0 0 13 21" fill="none">
            <g clip-path="url(#clip1)">
                <path d="M13 6.66258L7.89746 1.45261L7.91986 1.42974L6.5252 0L6.5028 0.0228758L6.4748 0L5.08014 1.42974L5.10254 1.45261L0 6.66258L1.40026 8.0866L5.51142 3.88889L5.51142 21H7.48858L7.48858 3.88889L11.5997 8.0866L13 6.66258Z" fill="#92B9AF"/>
            </g>
            <defs>
                <clipPath id="clip1">
                    <rect width="13" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div data-orderitem="area" data-order="asc" class="order-list__item">
        <p class="order-list__text">Fläche</p>
        <svg class="order-list__arrow" width="13" height="21" viewBox="0 0 13 21" fill="none">
            <g clip-path="url(#clip2)">
                <path d="M13 6.66258L7.89746 1.45261L7.91986 1.42974L6.5252 0L6.5028 0.0228758L6.4748 0L5.08014 1.42974L5.10254 1.45261L0 6.66258L1.40026 8.0866L5.51142 3.88889L5.51142 21H7.48858L7.48858 3.88889L11.5997 8.0866L13 6.66258Z" fill="#92B9AF"/>
            </g>
            <defs>
                <clipPath id="clip2">
                    <rect width="13" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div data-orderitem="price" data-order="asc" class="order-list__item">
        <p class="order-list__text">Preis/Miete</p>
        <svg class="order-list__arrow" width="13" height="21" viewBox="0 0 13 21" fill="none">
            <g clip-path="url(#clip3)">
                <path d="M13 6.66258L7.89746 1.45261L7.91986 1.42974L6.5252 0L6.5028 0.0228758L6.4748 0L5.08014 1.42974L5.10254 1.45261L0 6.66258L1.40026 8.0866L5.51142 3.88889L5.51142 21H7.48858L7.48858 3.88889L11.5997 8.0866L13 6.66258Z" fill="#92B9AF"/>
            </g>
            <defs>
                <clipPath id="clip3">
                    <rect width="13" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>