<div class="pagination-link" data-pagenum="0">
    <div data-dir="backw" class="pagination-link__dir hide">
        <img class="pagination-link__img pagination-link__img--back" src="../img/icons/pagination-arrow.svg" width="10" height="16" alt="" loading="lazy">
        <p class="pagination-link__text">
            Seite <span class="pagination-link__from pagination-link__from--backw">0</span> von <span class="pagination-link__to"></span>
        </p>                       
    </div>
    <div data-dir="forw" class="pagination-link__dir hide">
        <p class="pagination-link__text">
            Seite <span class="pagination-link__from pagination-link__from--forw">2</span> von <span class="pagination-link__to"></span>
        </p>
        <img class="pagination-link__img pagination-link__img--forw" src="../img/icons/pagination-arrow.svg" width="10" height="16" alt="" loading="lazy">                      
    </div>
</div>